---
import Header from "@components/Header.astro"
import Nav from "@components/Nav.astro"
import "/style.css"

const { frontmatter, rawContent } = Astro.props
const postdate = new Date(Date.parse(frontmatter.date)).toLocaleString(
  'en-CA', {dateStyle: "short", timeStyle: "short"}
)
const desc = rawContent()
              .trim()
              .split('\n\n')[0]
              .replaceAll('\n', " ")

---
<!doctype html>
<html lang="en">
<head>
  <Header pageTitle={frontmatter.title} description={desc}/>
  <meta name="og:type" content=article>
</head>

<body>
  <div class="content-box">
  <Nav/>
  <h4> {frontmatter.title} </h4>
  <h5>{postdate}</h5>
  {frontmatter.updated && <h5>Updated {frontmatter.updated}</h5>}

  <slot />

  </div>
</body>

</html>

